body,
input {
  background-image: url(../img/首頁.png);
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
span,
a {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  font-weight: normal;
}
