<nav class="nav border__b__3">
  <div
    class="container-md d-flex align-items-center justify-content-between py-md-5 py-3"
  >
    <div class="d-flex w-100 me-md-0 me-5">
      <a class="nav-logo d-flex me-md-8 no-hover" href="../pages/index.html"
        ><img
          class="me-md-4 me-5"
          src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/logo.png?raw=true"
          alt="logo"
        />
        <h1 class="d-md-flex d-none fs-4 align-items-center font-en">
          7TAO<span class="font-title fs-8 fw-bold ms-1">活動訂票網</span>
        </h1></a
      >
      <form class="d-flex nav-search">
        <input
          type="search"
          class="form-control py-md-4 py-2"
          placeholder="探索活動"
          aria-label="Search"
        />
        <a class="bg-primary p-md-4 p-3 d-flex align-items-center" href="#"
          ><i class="icofont-search-1 text-secondary fs-md-6 fs-8"></i
        ></a>
      </form>
    </div>

    <ul class="list-unstyled d-lg-flex d-none">
      <li class="me-5">
        <a class="nav-link d-flex fs-7" href="#">
          <i class="icofont-ui-file me-1"></i>
          <span class="font-en">REGISTER</span></a
        >
      </li>
      <li>
        <a class="nav-link d-flex fs-7" href="#">
          <i class="icofont-ui-user me-1"></i>
          <span class="font-en">LOGIN</span></a
        >
      </li>
    </ul>

    <button
      class="navbar navbar-light navbar-toggler border border-1 rounded-1 d-lg-none"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarToggleExternalContent"
      aria-controls="navbarToggleExternalContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>

  <div class="collapse container-md" id="navbarToggleExternalContent">
    <ul class="list-unstyled p-5">
      <li class="mb-5">
        <a class="nav-link d-flex fs-7" href="#">
          <i class="icofont-ui-file me-1"></i>
          <span class="font-en">REGISTER</span></a
        >
      </li>
      <li>
        <a class="nav-link d-flex fs-7" href="#">
          <i class="icofont-ui-user me-1"></i>
          <span class="font-en">LOGIN</span></a
        >
      </li>
    </ul>
  </div>
</nav>
